
/* css stylesheet for the index.html webpage */
body{
   /* Stop Watch background Image */
     margin: 0%;
     margin-top: -2%;
     background-image: url(bg.jpg);  
     background-size: cover;
     background-attachment: fixed;
     
}

/* website title and general description */
h2{
  text-align: center;
  letter-spacing: 0.5vw;
  margin:2% 0 0 -15%; 
  font-size: 3rem;
  text-transform: uppercase;
  font-family: sans-serif;
  color: whitesmoke;
  text-shadow: 0 0 10px black;
  padding-top: 1%;
  padding-left: 23vw;
  
}

/* top navigation bar of the website with color blue  */
.nav-bar{
 background-color: #1d2d90;  
 height: 10vh;
 margin-left: -2%; 

}

/* navigation bar is completed here */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* main */

/* The flex property sets the flexible length on circle flexible items. */
 #circle
 {
 display: flex;
 justify-content: center; 
} 
/* deefault styles of the time */
.time{
  margin-left: -9%;
  display: flex;
  font-size: 2.8vw;
  position: relative;
  z-index: 1;
  font-weight: 700;
  color: #f3f8fe;
}

/* Stop watch circle  */
.timer_border{
  
  min-width: 60px;
  min-height: 60px;
  position: absolute;
  display: flex;
  top: 170px; 
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  justify-content: center;
  box-shadow: 0 5px 0 5px rgb(57 110 160);;
}

.box1 h1{
  color: black;
  margin-top: -3%;
  
}
/* rectagle box of the timer in the circle*/
.box1{
  height: 45%;
  width: 83%;
  border: 4px solid #b9d4ff;
  border-radius: 12%;
  padding: 12%;
  margin-top: 20%;
  position: sticky; 
  box-sizing: border-box;
  z-index: 2;
  
}
   
  /* main border box of the stop watch */
  .first-line{
    height: 15vh;
    width: 30vw;
    border-radius: 12%;
    padding: 12%;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 25%;
    margin-top: 3%;
    background-image: url(background.jpg); 
    background-size: cover;
    box-shadow: white 5px 5px 5px 5px;
    
  }

   /* default size of the button-frame  */
   #button-frame{
    height: 1vh ;
    width: 35vw;
    border: 5px solid black;
    border-style: hidden;
    border-radius: 12%;
    padding: 5%;
    position: absolute; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-left: -2%;
    
    
   }
   /*css properties of the buttons start,stop,reset */
   #button-frame button{
    position: relative;
    height: 5vh;
    width: 6vw;
    margin-top: -19px; 
  
    
   }
   
/* Styles for Start,Stop,Reset buttons  */
 button {
    position: absolute;
    display: inline-block;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2cef33;
    border: none;
    border-radius: 5px; 
  }
  /* Use the :hover selector to change the style of a button when you move the mouse over it. */
  button:hover {
    background-color: #3e8e41;
    box-shadow: 0 0 5px 5px  white;        
  }
  /* The :active CSS pseudo-class represents an element (such as a button) that is being activated by the user */
  button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
    
  }
  /*The color of the Stop button should be in red */
  .stop{
    background-color: #ff0f1a;
  }
  /* Use the :hover selector to change the style of a button when you move the mouse over it. */
  .stop:hover{
    background-color: rgb(141, 16, 16);
  }
  /* The background color of Reset button should be in darkblue */
  .reset{
    background-color: darkblue;
  }
  /* Use the :hover selector to change the style of a button when you move the mouse over it. */
  .reset:hover{
    background-color: rgb(74, 74, 186);
  }  
  /*  animation for timer box */
  .timer_border{
    margin:-8px -6px 0px -6px;
    background-color: red;
    animation: example 5s infinite;
  }
  /* keyframe is used for a point at which you can change an effect or animation's value. */
  @keyframes example {
    0%   {background-color: white;}
    15%  {background-color: rgb(242, 30, 193);}
    25%  {background-color: yellow;}
    50%  {background-color: rgb(122, 122, 172);}
    100% {background-color: rgb(16, 241, 16);}
  }

   
 